<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

        --font-heading-family: "Yeseva One";
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

        --color-base-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
        --color-base-background-1: {{ settings.colors_background_1.red }}, {{ settings.colors_background_1.green }}, {{ settings.colors_background_1.blue }};
        --color-base-background-2: {{ settings.colors_background_2.red }}, {{ settings.colors_background_2.green }}, {{ settings.colors_background_2.blue }};
        --color-base-solid-button-labels: {{ settings.colors_solid_button_labels.red }}, {{ settings.colors_solid_button_labels.green }}, {{ settings.colors_solid_button_labels.blue }};
        --color-base-outline-button-labels: {{ settings.colors_outline_button_labels.red }}, {{ settings.colors_outline_button_labels.green }}, {{ settings.colors_outline_button_labels.blue }};
        --color-base-accent-1: {{ settings.colors_accent_1.red }}, {{ settings.colors_accent_1.green }}, {{ settings.colors_accent_1.blue }};
        --color-base-accent-2: {{ settings.colors_accent_2.red }}, {{ settings.colors_accent_2.green }}, {{ settings.colors_accent_2.blue }};
        --payment-terms-background-color: {{ settings.colors_background_1 }};

        --gradient-base-background-1: {% if settings.gradient_background_1 != blank %}{{ settings.gradient_background_1 }}{% else %}{{ settings.colors_background_1 }}{% endif %};
        --gradient-base-background-2: {% if settings.gradient_background_2 != blank %}{{ settings.gradient_background_2 }}{% else %}{{ settings.colors_background_2 }}{% endif %};
        --gradient-base-accent-1: {% if settings.gradient_accent_1 != blank %}{{ settings.gradient_accent_1 }}{% else %}{{ settings.colors_accent_1 }}{% endif %};
        --gradient-base-accent-2: {% if settings.gradient_accent_2 != blank %}{{ settings.gradient_accent_2 }}{% else %}{{ settings.colors_accent_2 }}{% endif %};

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;
        
        --border-radius-leaf-sm-small: 0.2rem;
        --border-radius-leaf-sm-big: 0.6rem;
        --border-radius-leaf-md-small: 0.2rem;
        --border-radius-leaf-md-big: 0.8rem;
        --border-radius-leaf-lg-small: 0.2rem;  
        --border-radius-leaf-lg-big: 1.6rem;

        --box-shadow-a-alpha: 0.14;
        --box-shadow-b-alpha: 0.12;
        --box-shadow-c-alpha: 0.20;
        --box-shadow-menu-alpha: 0.10;

        --box-shadow-a-color: rgba(var(--color-base-text), var(--box-shadow-a-alpha));
        --box-shadow-b-color: rgba(var(--color-base-text), var(--box-shadow-b-alpha));
        --box-shadow-c-color: rgba(var(--color-base-text), var(--box-shadow-c-alpha));
        --box-shadow-menu-color: rgba(var(--color-base-text), var(--box-shadow-menu-alpha));

        --box-shadow-menu-offset-x: 0;
        --box-shadow-menu-offset-y: 0.2rem;
        --box-shadow-menu-blur: 0.3rem;
        --box-shadow-menu-spread: 0;

        --box-shadow-00-offset-x: 0;
        --box-shadow-00-offset-y: 0;
        --box-shadow-00-blur: 0;
        --box-shadow-00-spread: 0;

        --box-shadow-01-a-offset-x: 0;
        --box-shadow-01-a-offset-y: 0.1rem;
        --box-shadow-01-a-blur: 0.1rem;
        --box-shadow-01-a-spread: 0;
        --box-shadow-01-b-offset-x: 0rem;
        --box-shadow-01-b-offset-y: 0.2rem;
        --box-shadow-01-b-blur: 0.1rem;
        --box-shadow-01-b-spread: 0;
        --box-shadow-01-c-offset-x: 0;
        --box-shadow-01-c-offset-y: 0.1rem;
        --box-shadow-01-c-blur: 0.3rem;
        --box-shadow-01-c-spread: 0;

        --box-shadow-02-a-offset-x: 0;
        --box-shadow-02-a-offset-y: 0.2rem;
        --box-shadow-02-a-blur: 0.2rem;
        --box-shadow-02-a-spread: 0;
        --box-shadow-02-b-offset-x: 0;
        --box-shadow-02-b-offset-y: -0.3rem;
        --box-shadow-02-b-blur: 0.1rem;
        --box-shadow-02-b-spread: -0.2rem;
        --box-shadow-02-c-offset-x: 0;
        --box-shadow-02-c-offset-y: 0.1rem;
        --box-shadow-02-c-blur: 0.5rem;
        --box-shadow-02-c-spread: 0;

        --box-shadow-03-a-offset-x: 0;
        --box-shadow-03-a-offset-y: 0.3rem;
        --box-shadow-03-a-blur: 0.4rem;
        --box-shadow-03-a-spread: 0;
        --box-shadow-03-b-offset-x: 0;
        --box-shadow-03-b-offset-y: 0.3rem;
        --box-shadow-03-b-blur: 0.3rem;
        --box-shadow-03-b-spread: -0.2rem;
        --box-shadow-03-c-offset-x: 0;
        --box-shadow-03-c-offset-y: 0.1rem;
        --box-shadow-03-c-blur: 0.8rem;
        --box-shadow-03-c-spread: 0;

        --box-shadow-04-a-offset-x: 0;
        --box-shadow-04-a-offset-y: 0.4rem;
        --box-shadow-04-a-blur: 0.5rem;
        --box-shadow-04-a-spread: 0;
        --box-shadow-04-b-offset-x: 0;
        --box-shadow-04-b-offset-y: 0.1rem;
        --box-shadow-04-b-blur: 1rem;
        --box-shadow-04-b-spread: 0;
        --box-shadow-04-c-offset-x: 0;
        --box-shadow-04-c-offset-y: 0.2rem;
        --box-shadow-04-c-blur: 0.4rem;
        --box-shadow-04-c-spread: 0;

        --box-shadow-06-a-a-offset-x: 0;
        --box-shadow-06-a-offset-y: 0.6rem;
        --box-shadow-06-a-blur: 1rem;
        --box-shadow-06-a-spread: 0;
        --box-shadow-06-b-offset-x: 0;
        --box-shadow-06-b-offset-y: 0.1rem;
        --box-shadow-06-b-blur: 1.8rem;
        --box-shadow-06-b-spread: 0;
        --box-shadow-06-c-offset-x: 0;
        --box-shadow-06-c-offset-y: 0.3rem;
        --box-shadow-06-c-blur: 0.5rem;
        --box-shadow-06-c-spread: 0;

        --box-shadow-08-a-offset-x: 0;
        --box-shadow-08-a-offset-y: 0.8rem;
        --box-shadow-08-a-blur: 1rem;
        --box-shadow-08-a-spread: 0.1rem;
        --box-shadow-08-b-offset-x: 0;
        --box-shadow-08-b-offset-y: 0.3rem;
        --box-shadow-08-b-blur: 1.4rem;
        --box-shadow-08-b-spread: 0.2rem;
        --box-shadow-08-c-offset-x: 0;
        --box-shadow-08-c-offset-y: 0.5rem;
        --box-shadow-08-c-blur: 0.5rem;
        --box-shadow-08-c-spread: -0.3rem;

        --box-shadow-09-a-offset-x: 0;
        --box-shadow-09-a-offset-y: 0.9rem;
        --box-shadow-09-a-blur: 1.2rem;
        --box-shadow-09-a-spread: 0.1rem;
        --box-shadow-09-b-offset-x: 0;
        --box-shadow-09-b-offset-y: 0.3rem;
        --box-shadow-09-b-blur: 1.6rem;
        --box-shadow-09-b-spread: 0.2rem;
        --box-shadow-09-c-offset-x: 0;
        --box-shadow-09-c-offset-y: 0.5rem;
        --box-shadow-09-c-blur: 0.6rem;
        --box-shadow-09-c-spread: -0.3rem;

        --box-shadow-12-a-offset-x: 0;
        --box-shadow-12-a-offset-y: 1.2rem;
        --box-shadow-12-a-blur: 1.7rem;
        --box-shadow-12-a-spread: 0.2rem;
        --box-shadow-12-b-offset-x: 0;
        --box-shadow-12-b-offset-y: 0.5rem;
        --box-shadow-12-b-blur: 2.2rem;
        --box-shadow-12-b-spread: 0.4rem;
        --box-shadow-12-c-offset-x: 0;
        --box-shadow-12-c-offset-y: 0.7rem;
        --box-shadow-12-c-blur: 0.8rem;
        --box-shadow-12-c-spread: -0.4rem;

        --box-shadow-16-a-offset-x: 0;
        --box-shadow-16-a-offset-y: 1.6rem;
        --box-shadow-16-a-blur: 2.4rem;
        --box-shadow-16-a-spread: 0.2rem;
        --box-shadow-16-b-offset-x: 0;
        --box-shadow-16-b-offset-y: 0.6rem;
        --box-shadow-16-b-blur: 3rem;
        --box-shadow-16-b-spread: 0.5rem;
        --box-shadow-16-c-offset-x: 0;
        --box-shadow-16-c-offset-y: 0.8rem;
        --box-shadow-16-c-blur: 1rem;
        --box-shadow-16-c-spread: -0.5rem;

        --box-shadow-24-a-offset-x: 0;
        --box-shadow-24-a-offset-y: 2.4rem;
        --box-shadow-24-a-blur: 3.8rem;
        --box-shadow-24-a-spread: 0.3rem;
        --box-shadow-24-b-offset-x: 0;
        --box-shadow-24-b-offset-y: 0.9rem;
        --box-shadow-24-b-blur: 4.6rem;
        --box-shadow-24-b-spread: 0.8rem;
        --box-shadow-24-c-offset-x: 0;
        --box-shadow-24-c-offset-y: 1.1rem;
        --box-shadow-24-c-blur: 1.5rem;
        --box-shadow-24-c-spread: -0.9rem;
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        font-size: calc(var(--font-body-scale) * 62.5%);
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 1.3rem;
        letter-spacing: 0.06rem;
        line-height: calc(1 + 0.8 / var(--font-body-scale));
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      @media screen and (min-width: 750px) {
        body {
          font-size: 1.4rem;
        }
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  </head>

  <body class="gradient">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {% section 'announcement-bar' %}
    {% if template == 'index' or template == 'collection.brand-amlsport' or template == 'collection.brand-anamarialajusticia.json' or template == 'collection.brand-avoguel' or template == 'collection.brand-eladiet' or template == 'collection.brand-esi' or template == 'collection.brand-kal' or template == 'collection.brand-neovitalhealt' or template == 'collection.brand-salus' or template == 'collection.brand-solaray' or template == 'collection.brand-sorianatural' %}
      {% section 'header-transparent' %}
    {% else %}
      {% section 'header' %}
    {% endif %}
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script>
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
      }
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
  </body>
</html>
